@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

body{
    background-color: rgb(135, 208, 183);
}

div.container{
    width: 400px;
    margin: 10% auto;
    background-color: white;
    border-radius: 10px;

}

div.entrada{
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

div h1{
    font-weight: bold;
    margin-bottom: 20px;
}



input#input-tarefa{
    margin-bottom: 20px;
    height: 40px;
    width: 250px;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 5px;
}

button#btn-adicionar{
    background-color: #8c4be7;
    color: white;
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    box-sizing: border-box;
    transition: .3s;
}

button#btn-adicionar:hover{
    color: black;
    background-color: rgb(103, 103, 255);
}

div#lista-afazeres{
    margin-bottom: 20px;
}

button#btn-limpar{
    font-size: 14px;
    border: none;
    padding: 10px;
    margin-left: 20px;
    background-color: #8c4be7;
    color: white;
}


/*Criados Dinamicamente*/
div.item-afazer{
    width: 80%;
    padding: 10px;
    margin: 10px 10px;
    background: #f2f2f2;
    text-align: left;
    font-size: 24px;
}

div.item-afazer button{
    margin-left: 200px;
    border: none;
    width: 30px;
    height: 30px;
    color: white;
    background-color: #e84c3b;
    transition: .3s;
}

div.item-afazer button:hover{
    color: black;
    background-color: rgb(103, 103, 255);
}


